
/*--------------------------------------------------------------------------
	Fonts
--------------------------------------------------------------------------*/

$font-stack-1:    'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-stack-2:    "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

/*--------------------------------------------------------------------------
	Colors
--------------------------------------------------------------------------*/

$primary-color: #333;
/* Aqua */
$secondary-color: #44bbaa;
/* Black */
$third-color: #000;

/*--------------------------------------------------------------------------
	Images
--------------------------------------------------------------------------*/

$header-image: '../images/header.jpg';

/* Icons */
$icon-linkedin: '../images/icon_linkedin.png';
$icon-github: '../images/icon_git.png';
$icon-pdf: '../images/icon_pdf.png';