<!-- Footer
================================================== -->
<div id="section-footer">

    <div class="container">
        <div class="ten columns">
            <p>© Alastair Purvis&nbsp;
                <script type="text/javascript">
                    document.write(new Date().getFullYear());
                </script></p>
        </div><!-- // .seven -->
        <div class="six columns hidden-mobile">
            <ul id="social">
                <li><a href="https://github.com/alastairpurvis"></a></li> <!-- // github -->
                <li><a href="https://vimeo.com/alastairpurvis"></a></li> <!-- // vimeo -->
                <li><a href="https://www.linkedin.com/in/alastairpurvis"></a></li> <!-- // linkedin -->
            </ul>
        </div><!-- // .seven -->
    </div><!-- // .container -->


</div><!-- // #section-footer -->
