<!-- Header
================================================== -->
<div id="section-intro">
    <div id="section-hero" >

        <!-- Hero content -->
        <div class="container">
            <!-- Navigation -->
            <div id="section-nav" class="sixteen columns">
                <ul class="logo">
                  <li><a href="#home">alastair purvis</a></li>
                </ul>
                <ul>
                  <li><a href="#section-contact">Contact</a></li>
                  <li><a href="#section-works">Projects</a></li>
                </ul>
            </div>
            <div class="eight columns">
                <div id="hero">
                    <h2>front end <span class="highlight">engineer</span><span class="blinking-cursor">|</span></h2>
                    <p><a class="button" href="#section-works">Browse Projects</a></p>
                    <p class="sub-heading"><a href="https://github.com/alastairpurvis/portfolio-site-scss">* View this site's source on GitHub</a></p>
                </div><!-- // #box-name -->

            </div><!-- // .four -->
            <div id="foreground" class="eight columns">
                <img src="images/code.png" />
            </div><!-- // #box-name -->
            <div class="clear"></div>
        </div><!-- // .container -->
    </div><!-- // #section-hero -->
