<!--
    commercial projects
-->

<div id="realher" class="reveal-modal">
    <img src="images/realher.jpg" alt="">

    <div class="box-modal">
        <h4><span class="underline">RealHer - Ecommerce Website</span></h4>

        <p>RealHer is a cosmetics brand that donates 20% of its profits to charity that empowers women through leadership programs, scholarship contributions and more.</p>

    </div><!-- // .box-modal -->
    <a href="https://www.realher.com" class="link-details" id="nn_link">View website</a>
    <a class="close-reveal-modal">Close</a>
    <script type="text/javascript">
            mixpanel.track_links("#nn_link", "View Noggin Nosh", {
                      "referrer": document.referrer
            });
    </script>
</div>

<div id="nogginnosh" class="reveal-modal">
    <img src="images/noggin.jpg" alt="">

    <div class="box-modal">
        <h4><span class="underline">Noggin Nosh Snack Bar - Single Page Website</span></h4>

        <p>Noggin Nosh is a nutrient dense superfood bar made up of a deliberate set of ingredients intended to support immediate and long-term improvement in terms of cognitive ability. This project involved creating a static page for its initial launch written in pure HTML without a CMS.</p>

    </div><!-- // .box-modal -->
    <a href="samples/nogginnosh/index.html" class="link-details" id="nn_link">View website</a>
    <a class="close-reveal-modal">Close</a>
    <script type="text/javascript">
            mixpanel.track_links("#nn_link", "View Noggin Nosh", {
                      "referrer": document.referrer
            });
    </script>
</div>

<div id="truegirl" class="reveal-modal">
    <img src="images/truegirl.jpg" alt="">

    <div class="box-modal">
        <h4><span class="underline">True Girl Skincare - Ecommerce Website</span></h4>

        <p>Inspired by one of her teenagers, True Girl’s founder Joanne Vaden went on a mission to create the perfect skin care for teenage skin.</p>

    </div><!-- // .box-modal -->
    <a href="http://www.truegirlskincare.com/" class="link-details" id="tg_link">View website</a>
    <script type="text/javascript">
            mixpanel.track_links("#tg_link", "View True Girl", {
                      "referrer": document.referrer
            });
    </script>
    <a class="close-reveal-modal">Close</a>
</div>

<div id="skinnutrition" class="reveal-modal">
    <img src="images/skinnu.jpg" alt="">

    <div class="box-modal">
        <h4><span class="underline">Skin Nutrition - Ecommerce Website</span></h4>

        <p>Founded in 2002, Skin Nutrition is a trailblazing skin care company focused on one goal: Significantly making a difference in preventative aging, aging reversal, and overall skin wellness.</p>

    </div><!-- // .box-modal -->
    <a href="http://www.skinnutrition.com/" class="link-details" id="sk_link">View website</a>
    <script type="text/javascript">
            mixpanel.track_links("#sk_link", "View Skin Nutrition", {
                      "referrer": document.referrer
            });
    </script>
    <a class="close-reveal-modal">Close</a>
</div>



<!--
    experimental projects
-->

<div id="promathius" class="reveal-modal">
    <img src="images/promathius-ui.jpg" alt="">

    <div class="box-modal">
        <h4><span class="underline">Promathius Web Game</span></h4>

        <p>A turn-based strategy game built in PHP and MySQL, leveraging a standard HTML/CSS/Javascript frontend (with a few experiments using Cordova for the mobile app).</p>

    </div><!-- // .box-modal -->
    <a href="https://github.com/alastairpurvis" class="link-details" id="nn_link">View github repo</a>
    <a class="close-reveal-modal">Close</a>
</div><!-- // #work-modal-01 -->


<div id="discarded" class="reveal-modal">
    <img src="images/variant-plugin.jpg" alt="">

    <div class="box-modal">
        <h4><span class="underline">Shopify Multiple Variants Plugin</span></h4>

        <p>Shopify currently lacks the option to feature multiple variant-specific images. This plugin addresses that issue by providing easy to implement JS snippet that can filter images based on the Shopify alt tag. </p>

    </div><!-- // .box-modal -->
    <a href="https://github.com/alastairpurvis" class="link-details" id="nn_link">View github repo</a>
    <a class="close-reveal-modal">Close</a>
</div><!-- // #work-modal-02 -->
