<div class="section skills">
  <div class="container">
    <div class="row">
        <div class="three columns">
            <h3><span class="underline">Technology</span></h3>
        </div><!-- // .three -->
        <div class="four columns skill">
          <h2 class="skills-image"><img src="images/sass.png" /></h2>
          <h5 class="skills-heading">Responsive Design</h5>
          <p class="skills-description">Experience working with numerous responsive UI toolsets including Bootstrap,  Foundation, Sass/LESS.</p>
        </div>
      <div class="four columns skill">
        <h2 class="skills-image"><img src="images/es6.png" /></h2>
        <h5 class="skills-heading">Performance</h5>
        <p class="skills-description">Performance is a critical UX and conversion metric. I focus on lightweight and highly optimized front end footprints.</p>
      </div>
      <div class="four columns skill">
        <h2 class="skills-image"><img src="images/angular.png" /></h2>
        <h5 class="skills-heading">Frameworks</h5>
        <p class="skills-description">Demonstrated experience with modern libraries and frameworks including Angular, React, jQuery and more.</p>
      </div>
      <div class="three columns">
          <Br><br>
      </div><!-- // .three -->
      <div class="four columns skill hidden-mobile">
        <h2 class="skills-image"><img src="images/adobe.png" /></h2>
        <h5 class="skills-heading">User Interface & UX</h5>
        <p class="skills-description">Strong eye for functional and beautiful user interfaces prototyped in modern Adobe tools.</p>
      </div>
      <div class="four columns skill hidden-mobile">
        <h2 class="skills-image"><img src="images/shopify.png" /></h2>
        <h5 class="skills-heading">Ecommerce</h5>
        <p class="skills-description">Half a decade of experience working in the ecommerce space; Shopify, Magento, WooCommerce and more.</p>
      </div>
      <div class="four columns skill hidden-mobile">
        <h2 class="skills-image"><img src="images/gulp.png" /></h2>
        <h5 class="skills-heading">Workflow</h5>
        <p class="skills-description">Maximization of version control, unit testing suites as well as popular task runners and package managers.</p>
      </div>
    </div>
  </div>
</div>
