<div id="section-works">
    <div class="container">
        <div class="three columns">
            <h3><span class="underline">Recent<br>Commercial<br>Projects</span></h3>
        </div><!-- // .three -->

        <div class="thirteen columns">

            <!--
                The modal contents that pops up when a user clicks the item is in the bottom of this section
            -->

            <a href="/#" data-reveal-id="realher">
                <div class="item" style="opacity: 1;">
                    <div class="eight columns alpha">
                        <div class="img-wrap"><img src="images/realher.jpg" alt="RealHer eCommerce site design"></div>
                        <div class="mobile-img"><img src="images/realher-mobile.png"></div>
                    </div><!-- // .five -->

                    <div class="five columns omega">
                        <div class="work-info">
                            <h4><span class="underline">RealHer</span></h4>

                            <p>
                            Branded Ecommerce Website<Br>
                            Front End Development<Br>
                            Timber Development Framework<BR>
                            Liquid Template Language<BR>
                            JavaScript, Bootstrap, Slick<BR>
                            Responsive</p>
                        </div><!-- // .work-info -->
                    </div><!-- // .three -->

                    <div class="clear"></div>
                </div><!-- // .item -->
            </a>

            <a href="/#" data-reveal-id="nogginnosh">
                <div class="item" style="opacity: 1;">
                    <div class="eight columns alpha">
                        <div class="img-wrap"><img src="images/noggin.jpg" alt="Noggin Nosh eCommerce site design"></div>
                        <div class="mobile-img"><img src="images/nogginn-mobile.png"></div>
                    </div><!-- // .five -->

                    <div class="five columns omega">
                        <div class="work-info">
                            <h4><span class="underline">Noggin Nosh</span></h4>

                            <p>
                            Single Page Brand Website<Br>
                            Front End Development<Br>
                            Pure HTML, JavaScript<BR>
                            Bootstrap, jQuery<BR>
                            Responsive</p>
                        </div><!-- // .work-info -->
                    </div><!-- // .three -->

                    <div class="clear"></div>
                </div><!-- // .item -->
            </a>

            <a href="/#" data-reveal-id="truegirl">
                <div class="item" style="opacity: 1;">
                    <div class="eight columns alpha">
                        <div class="img-wrap"><img src="images/truegirl.jpg" alt="True Girl eCommerce site design"></div>
                        <div class="mobile-img"><img src="images/truegirl-mobile.png"></div>
                    </div><!-- // .five -->

                    <div class="five columns omega">
                        <div class="work-info">
                            <h4><span class="underline">True Girl</span></h4>

                            <p>
                            Branded Ecommerce Website<Br>
                            Front End Development<Br>
                            Liquid, JavaScript<BR>
                            Timber Development Framework<BR>
                            Bootstrap, JQuery, FlexSlider<BR>
                            Responsive</p>
                        </div><!-- // .work-info -->
                    </div><!-- // .three -->

                    <div class="clear"></div>
                </div><!-- // .item -->
            </a>


            <a href="/#" data-reveal-id="skinnutrition">
                <div class="item" style="opacity: 1;">
                    <div class="eight columns alpha">
                        <div class="img-wrap"><img src="images/skinnu.jpg" alt="Skin Nutrition eCommerce site design"></div>
                        <div class="mobile-img"><img src="images/skinnu-mobile.png"></div>
                    </div><!-- // .five -->

                    <div class="five columns omega">
                        <div class="work-info">
                            <h4><span class="underline">Skin Nutrition</span></h4>

                            <p>osCommerce and PHP/HTML non-responsive (original site), JavaScript<br>
                            Squarespace + Dev Kit (new updated site)</p>
                        </div><!-- // .work-info -->
                    </div><!-- // .three -->

                    <div class="clear"></div>
                </div><!-- // .item -->
            </a>

            <!--
                End of items
            -->

        </div><!-- // .thirteen -->
    </div><!-- // .container -->

</div><!-- // #section-works -->
