<div id="section-about">
    <div class="container">
        <div class="three columns">
            <h3><span class="underline">About</span></h3>
        </div><!-- // .three -->

        <div class="nine columns">
            <p class="intro">Passionate front end with a balanced body of work in websites and applications of varying complexity and modularity. Advanced knowledge of JavaScript and key design patterns, as well as strong instincts with respect to clean, functional UI and optimized UX.
            </p>
        </div><!-- // .nine -->

        <div class="four columns" id="port">

        <a href="downloads/resume.pdf" title="Download PDF Resume" class="link-pdf">Printable Resume</a>

        <a href="https://github.com/alastairpurvis"  title="GitHub Account" class="link-github">GitHub Profile</a>

        <a href="https://www.linkedin.com/in/alastairpurvis" title="LinkedIn" class="link-linkedin">LinkedIn</a>
        </div><!-- // .four -->

        <div class="clear"></div>
    </div><!-- // .container -->
</div><!-- // #section-about -->

</div><!-- // #section-about -->
