<!--
    commercial projects
-->

<div id="realher" class="reveal-modal">
    <img src="images/realher-mock.jpg" alt="">

    <div class="box-modal">
        <h4><span class="underline">RealHer - Branded Ecommerce</span></h4>

        <p>RealHer is a cosmetics brand that donates 20% of its profits to charity. I was responsible for the development and launch of the ecommerce site and was involved for approximately 8 months.</p>

    </div><!-- // .box-modal -->
    <a href="https://www.realher.com" class="link-details" id="rh_link">View website</a>
    <a class="close-reveal-modal">Close</a>
</div>

<div id="nogginnosh" class="reveal-modal">
    <img src="images/noggin-m.jpg" alt="">

    <div class="box-modal">
        <h4><span class="underline">Noggin Nosh Snack Bar - Branded WordPress</span></h4>

        <p>Noggin Nosh is a nutrient dense superfood bar intended to support immediate and long-term improvement in terms of cognitive ability. This project involved creating a static page for its initial launch written in pure HTML without a CMS and was then redesigned for WordPress.</p>

    </div><!-- // .box-modal -->
    <a href="http://www.nogginnosh.com" class="link-details" id="nn_link">View website</a>
    <a class="close-reveal-modal">Close</a>
</div>

<div id="truegirl" class="reveal-modal">
    <img src="images/truegirl-render.jpg" alt="">

    <div class="box-modal">
        <h4><span class="underline">True Girl Skincare - Ecommerce Website</span></h4>

        <p>Inspired by one of her teenagers, True Girl’s founder Joanne Vaden went on a mission to create the perfect skin care for teenage skin. I was responsible for developing and completing the entire ecommerce frontend.</p>

    </div><!-- // .box-modal -->
    <a href="http://www.truegirlskincare.com/" class="link-details" id="tg_link">View website</a>
    <a class="close-reveal-modal">Close</a>
</div>

<div id="skinnutrition" class="reveal-modal">
    <img src="images/skindoctor.jpg" alt="">

    <div class="box-modal">
        <h4><span class="underline">SkinDoctor - Hybrid Web/Mobile App</span></h4>

        <p>SkinDoctor, developed by Skin Nutrition, is a revolutionary new web app that will help users to intuitively self diagnose their skin type and receive automatic product and skincare recommendations. I am currently the lead front end engineer for this project.</p>

    </div><!-- // .box-modal -->
    <a href="http://www.skinnutrition.com/" class="link-details" id="sk_link">Company website</a>
    <a class="close-reveal-modal">Close</a>
</div>



<!--
    experimental projects
-->

<div id="promathius" class="reveal-modal">
    <img src="images/promathius-ui.jpg" alt="">

    <div class="box-modal">
        <h4><span class="underline">Promathius Web Game</span></h4>

        <p>A turn-based strategy game built in PHP and MySQL, leveraging a standard HTML/CSS/Javascript frontend (with a few experiments using Cordova for the mobile app).</p>

    </div><!-- // .box-modal -->
    <a href="https://github.com/alastairpurvis/promathius-webgame-framework" class="link-details" id="prom_link">View github repo</a>
    <a class="close-reveal-modal">Close</a>
</div><!-- // #work-modal-01 -->


<div id="acommerce" class="reveal-modal">
    <img src="images/angularcommerce.jpg" alt="">

    <div class="box-modal">
        <h4><span class="underline">Angular Commerce</span></h4>

        <p>An ecommerce front-end framework using AngularJS and the Moltin API. Supports standard ecommerce  functionality such as categories, product lists, cart panel, checkout and payment. </p>

    </div><!-- // .box-modal -->
    <a href="https://github.com/alastairpurvis/angular-ecommerce-starter" class="link-details" id="acommerce_link">View github repo</a>
    <a class="close-reveal-modal">Close</a>
</div><!-- // #work-modal-02 -->

<div id="discarded" class="reveal-modal">
    <img src="images/variant-plugin.jpg" alt="">

    <div class="box-modal">
        <h4><span class="underline">Shopify Multiple Variants Plugin</span></h4>

        <p>Shopify currently lacks the option to feature multiple variant-specific images. This plugin addresses that issue by providing easy to implement JS snippet that can filter images based on the Shopify alt tag. </p>

    </div><!-- // .box-modal -->
    <a href="https://github.com/alastairpurvis/shopify-variant-image" class="link-details" id="shopify_link">View github repo</a>
    <a class="close-reveal-modal">Close</a>
</div><!-- // #work-modal-03 -->
