<div id="section-works">
    <div class="container">
        <div class="three columns">
            <h3><span class="underline">Open Source Projects</span></h3>
        </div><!-- // .three -->

        <div class="thirteen columns">

            <a href="#" data-featherlight="#promathius">
                <div class="item" style="opacity: 1;">
                    <div class="eight columns alpha">
                        <div class="img-wrap"><img src="images/promathius-gui-m.jpg" alt=""></div>
                    </div><!-- // .five -->

                    <div class="five columns omega">
                        <div class="work-info">
                            <h4><span class="underline">Promathius Web Game</span></h4>

                            <p>
                            A turn-based strategy game built in PHP and MySQL, leveraging a standard HTML/CSS/Javascript frontend (with a few experiments using Cordova for the mobile app).</p><br>
                            <p class="hidden-tablet">
                            Signicant enhancements since it's predecessor.
                            Features separation between backend and front-end code using the Smarty Template Engine. Significant portions of the game engine were rewritten to be more modular. Game configurations are separated into user-friendly .ini configs. Also features significant performance enhancements, automatically compressing and minifing JS and CSS, as well as caching re-usable elements.</p>
                        </div><!-- // .work-info -->
                    </div><!-- // .three -->

                    <div class="clear"></div>
                </div><!-- // .item -->
            </a>

            <a href="#" data-featherlight="#acommerce">
                <div class="item" style="opacity: 1;">
                    <div class="eight columns alpha">
                        <div class="img-wrap"><img src="images/angularcommerce.jpg" alt=""></div>
                    </div><!-- // .five -->

                    <div class="five columns omega">
                        <div class="work-info">
                            <h4><span class="underline">Angular Commerce</span></h4>

                            <p>
                            A dynamic ecommerce front-end framework using AngularJS and the Moltin API. Supports standard ecommerce  functionality such as categories, product lists, cart panel, checkout and payment.
                        </p>
                        </div><!-- // .work-info -->
                    </div><!-- // .three -->

                    <div class="clear"></div>
                </div><!-- // .item -->
            </a>

            <a href="#" data-featherlight="#discarded">
                <div class="item" style="opacity: 1;">
                    <div class="eight columns alpha">
                        <div class="img-wrap"><img src="images/variant-plugin.jpg" alt=""></div>
                    </div><!-- // .five -->

                    <div class="five columns omega">
                        <div class="work-info">
                            <h4><span class="underline">Shopify Variant Plugin</span></h4>

                            <p>
                            Shopify currently lacks the option to feature multiple variant-specific images. This plugin addresses that issue by providing an easy to implement JS snippet that can filter images based on the Shopify alt tag. </p>
                        </div><!-- // .work-info -->
                    </div><!-- // .three -->

                    <div class="clear"></div>
                </div><!-- // .item -->
            </a>

            <!--
                End of items
            -->

        </div><!-- // .thirteen -->

    </div><!-- // .container -->

</div><!-- // #section-works -->
