<div class="section skills parallax">
  <div class="container">
    <div class="row">
        <div class="three columns">
            <h3><span class="underline">What I do</span></h3>
        </div><!-- // .three -->
        <div class="four columns skill">
          <h2 class="skills-image"><img src="images/sass.png" /></h2>
          <h5 class="skills-heading">Responsive Design</h5>
          <p class="skills-description">I work with popular responsive UI toolsets including Bootstrap, Foundation, Sass/LESS for mobile-first and progressive web apps.</p>
        </div>
        <div class="four columns skill">
          <h2 class="skills-image"><img src="images/angular.png" /></h2>
          <h5 class="skills-heading">Frameworks</h5>
          <p class="skills-description">JavaScript is more powerful than ever. I frequently leverage the latest libraries and frameworks including Angular, React, Ionic and more.</p>
        </div>
      <div class="four columns skill">
        <h2 class="skills-image"><img src="images/gulp.png" /></h2>
        <h5 class="skills-heading">Optimization</h5>
        <p class="skills-description">Performance is a critical UX and conversion metric. I invest thoroughly into optimizing for lightweight, progressive, modular and maintainable code.</p>
    </div>
      <div class="three columns">
          <Br><br>
      </div><!-- // .three -->
      <div class="four columns skill hidden-mobile">
        <h2 class="skills-image"><img src="images/adobe.png" /></h2>
        <h5 class="skills-heading">User Interface & UX</h5>
        <p class="skills-description">I prototype functional and beautiful user interfaces based on branding and business requirements.</p>
      </div>
      <div class="four columns skill hidden-mobile">
        <h2 class="skills-image"><img src="images/es6.png" /></h2>
        <h5 class="skills-heading">Workflow</h5>
        <p class="skills-description">Version control, unit testing, as well as popular task runners, transpilers and package managers.</p>
      </div>
      <div class="four columns skill hidden-mobile">
        <h2 class="skills-image"><img src="images/shopify.png" /></h2>
        <h5 class="skills-heading">Ecommerce</h5>
        <p class="skills-description">Half a decade of experience working in the ecommerce space; Shopify, Magento, WooCommerce and more.</p>
      </div>
    </div>
  </div>
</div>
