<div id="section-works">
    <div class="container">
        <div class="three columns">
            <h3><span class="underline">Recent<br>Commercial<br>Projects</span></h3>
        </div><!-- // .three -->

        <div class="thirteen columns">

            <!--
                The modal contents that pops up when a user clicks the item is in the bottom of this section
            -->

            <a href="#" data-featherlight="#skinnutrition">
                <div class="item" style="opacity: 1;">
                    <div class="eight columns alpha">
                        <div class="img-wrap"><img src="images/skindoctor.jpg" alt="Skin Nutrition eCommerce site design"></div>
                    </div><!-- // .five -->

                    <div class="five columns omega">
                        <div class="work-info">
                            <h4><span class="underline">SkinDoctor <span class="emphasis"> / App</span></span></h4>

                            <p>Coming Soon<br>Hybrid Web/Mobile App<Br>
                            Front End Development<Br>
                            Angular, Ionic, Cordova<br>
                            JavaScript, webpack2<br>
                            AJAX based REST API</p>
                        </div><!-- // .work-info -->
                    </div><!-- // .three -->

                    <div class="clear"></div>
                </div><!-- // .item -->
            </a>

            <a href="#" data-featherlight="#realher">
                <div class="item" style="opacity: 1;">
                    <div class="eight columns alpha">
                        <div class="img-wrap"><img src="images/realher-m5.jpg" alt="RealHer eCommerce site design"></div>
                    </div><!-- // .five -->

                    <div class="five columns omega">
                        <div class="work-info">
                            <h4><span class="underline">RealHer <span class="emphasis"> / Ecommerce</span></span></h4>

                            <p>
                            AJAX-driven Ecommerce<Br>
                            Front End Development<Br>
                            Timber Framework<BR>
                            Gulp, .liquid, Bootstrap<BR>
                            Shopify REST API<BR>
                            Responsive</p>
                        </div><!-- // .work-info -->
                    </div><!-- // .three -->

                    <div class="clear"></div>
                </div><!-- // .item -->
            </a>

            <a href="#" data-featherlight="#nogginnosh">
                <div class="item" style="opacity: 1;">
                    <div class="eight columns alpha">
                        <div class="img-wrap"><img src="images/noggin-render.jpg" alt="Noggin Nosh eCommerce site design"></div>
                    </div><!-- // .five -->

                    <div class="five columns omega">
                        <div class="work-info">
                            <h4><span class="underline">Noggin Nosh <span class="emphasis"> / WordPress</span></span></h4>

                            <p>
                            WordPress Brand Website<Br>
                            Front End Development<Br>
                            HTML, JavaScript<BR>
                            Bootstrap, jQuery<BR>
                            WooCommerce<Br>
                            Responsive</p>
                        </div><!-- // .work-info -->
                    </div><!-- // .three -->

                    <div class="clear"></div>
                </div><!-- // .item -->
            </a>

            <a href="#" data-featherlight="#truegirl">
                <div class="item" style="opacity: 1;">
                    <div class="eight columns alpha">
                        <div class="img-wrap"><img src="images/truegirl-render.jpg" alt="True Girl eCommerce site design"></div>
                    </div><!-- // .five -->

                    <div class="five columns omega">
                        <div class="work-info">
                            <h4><span class="underline">True Girl <span class="emphasis"> / Ecommerce</span></span></h4>

                            <p>
                            Brand Ecommerce Website<Br>
                            Front End Development<Br>
                            .liquid, JavaScript<BR>
                            Timber Framework<BR>
                            Bootstrap, JQuery, Flex<BR>
                            Responsive</p>
                        </div><!-- // .work-info -->
                    </div><!-- // .three -->

                    <div class="clear"></div>
                </div><!-- // .item -->
            </a>

            <!--
                End of items
            -->

        </div><!-- // .thirteen -->
    </div><!-- // .container -->

</div><!-- // #section-works -->
