/*---------------------------------------------------
    Skills area
---------------------------------------------------*/

.skills {
  background-image: url("images/overlay.png"), url($tech-image);
  background-color: #222;
  background-size: cover;
  background-position: top right;
  -ms-behavior: url(includes/backgroundsize.min.htc);
  color: #fff;
  padding: 180px 0 130px;
}
.skill {
    margin-top: -50px;
  padding: 70px 0 50px;
}
.skills-image {
  margin-bottom: 30px;
  color: #11DFC7;
}
.skills-image img {
  width: 110px;
  height: auto;
}
.skills-heading {
  font-size: 14px;
  margin-bottom: 15px;
}
.skills-description {
  opacity:1;
  font-size: 13px;
  padding-right: 35px;
  opacity: 0.6;
}
@media only screen and (max-width: 767px){
    .skills {
        background-image: none;
        padding: 80px 0 10px;
    }
    .skill {
      padding: 30px 0 10px;
    }
    .skills-image {
      margin-bottom: 5px;
    }
    .skills-description {
      font-size: 14px;
      background-color: #2E2E2E;
      padding: 25px;
    }
}
